@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Password for user @ViewData["ResetUser"] has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
</p>
