@model T_generator.Models.Amazon.Data.Intermediate.AmazonMarketplace

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit"  method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Marketplace</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger">@(ViewBag.Error)
        </div>
    <input type="hidden" asp-for="AmazonMarketplaceID" />
        <div class="form-group">
            <label asp-for="TemplateURL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <label>@(Model.TemplateURL)</label>
                <input asp-for="TemplateURL" class="form-control" type="file" />
                <span asp-validation-for="TemplateURL" class="text-danger" />
                <input name="oldURL" type="hidden" value="@(Model.TemplateURL)" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmazonCurrencyID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AmazonCurrencyID" class="form-control" asp-items="ViewBag.AmazonCurrencyID"></select>
                <span asp-validation-for="AmazonCurrencyID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prefix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartingRow" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartingRow" class="form-control" />
                <span asp-validation-for="StartingRow" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SheetNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetNumber" class="form-control" />
                <span asp-validation-for="SheetNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
