@model T_generator.Models.Amazon.Data.Intermediate.AmazonProductColor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Product Color</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DesignURL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DesignURL" type="file" class="form-control"/>
                <span asp-validation-for="DesignURL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmazonProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AmazonProductID" class="form-control" asp-items="ViewBag.AmazonProductID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmazonColorID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AmazonColorID" class="form-control" asp-items="ViewBag.AmazonColorID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Opacity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Opacity" class="form-control"/>
                <span asp-validation-for="Opacity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Top" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Top" class="form-control" />
                <span asp-validation-for="Top" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Left" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Left" class="form-control" />
                <span asp-validation-for="Left" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Right" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Right" class="form-control" />
                <span asp-validation-for="Right" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bot" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bot" class="form-control" />
                <span asp-validation-for="Bot" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
