@model T_generator.Models.Amazon.Data.Intermediate.AmazonMarketplace

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create"  method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>AmazonMarketplace</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prefix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TemplateURL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TemplateURL" class="form-control" />
                <span asp-validation-for="TemplateURL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmazonCurrencyID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AmazonCurrencyID" class="form-control" asp-items="ViewBag.AmazonCurrencyID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SheetNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetNumber" class="form-control" />
                <span asp-validation-for="SheetNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartingRow" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartingRow" class="form-control" />
                <span asp-validation-for="StartingRow" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdultFlag" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdultFlag" class="form-control" />
                <span asp-validation-for="AdultFlag" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="BikiniTopStyle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BikiniTopStyle" class="form-control" />
                <span asp-validation-for="BikiniTopStyle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BraBandSize" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BraBandSize" class="form-control" />
                <span asp-validation-for="BraBandSize" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BraBandSizeUnit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BraBandSizeUnit" class="form-control" />
                <span asp-validation-for="BraBandSizeUnit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BraCupSize" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BraCupSize" class="form-control" />
                <span asp-validation-for="BraCupSize" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BrandName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BrowseNode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BrowseNode" class="form-control" />
                <span asp-validation-for="BrowseNode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CanBeGiftMessaged" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CanBeGiftMessaged" class="form-control" />
                <span asp-validation-for="CanBeGiftMessaged" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CanBeGiftWrapped" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CanBeGiftWrapped" class="form-control" />
                <span asp-validation-for="CanBeGiftWrapped" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClosureType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClosureType" class="form-control" />
                <span asp-validation-for="ClosureType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClothingType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClothingType" class="form-control" />
                <span asp-validation-for="ClothingType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CollarStyle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CollarStyle" class="form-control" />
                <span asp-validation-for="CollarStyle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Colour" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ColourMap" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ColourMap" class="form-control" />
                <span asp-validation-for="ColourMap" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CountryOfOrigin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CountryOfOrigin" class="form-control" />
                <span asp-validation-for="CountryOfOrigin" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Features1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Features1" class="form-control" />
                <span asp-validation-for="Features1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Features2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Features2" class="form-control" />
                <span asp-validation-for="Features2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Features3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Features3" class="form-control" />
                <span asp-validation-for="Features3" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Features4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Features4" class="form-control" />
                <span asp-validation-for="Features4" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Features5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Features5" class="form-control" />
                <span asp-validation-for="Features5" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FittingType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FittingType" class="form-control" />
                <span asp-validation-for="FittingType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FulfillmentCentreId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FulfillmentCentreId" class="form-control" />
                <span asp-validation-for="FulfillmentCentreId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FulfillmentLatency" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FulfillmentLatency" class="form-control" />
                <span asp-validation-for="FulfillmentLatency" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GtinExemptionReason" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GtinExemptionReason" class="form-control" />
                <span asp-validation-for="GtinExemptionReason" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InnerMaterialType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InnerMaterialType" class="form-control" />
                <span asp-validation-for="InnerMaterialType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsDiscontinued" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsDiscontinued" class="form-control" />
                <span asp-validation-for="IsDiscontinued" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemLength" class="form-control" />
                <span asp-validation-for="ItemLength" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemSKU" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemSKU" class="form-control" />
                <span asp-validation-for="ItemSKU" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemShape" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemShape" class="form-control" />
                <span asp-validation-for="ItemShape" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JeansLengthInches" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JeansLengthInches" class="form-control" />
                <span asp-validation-for="JeansLengthInches" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JeansLengthUnitOfMeasure" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JeansLengthUnitOfMeasure" class="form-control" />
                <span asp-validation-for="JeansLengthUnitOfMeasure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JeansWidthInches" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JeansWidthInches" class="form-control" />
                <span asp-validation-for="JeansWidthInches" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JeansWidthUnitOfMeasure" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JeansWidthUnitOfMeasure" class="form-control" />
                <span asp-validation-for="JeansWidthUnitOfMeasure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LaunchDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LaunchDate" class="form-control" />
                <span asp-validation-for="LaunchDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MainImgUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MainImgUrl" class="form-control" />
                <span asp-validation-for="MainImgUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ManufacturerPartNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ManufacturerPartNumber" class="form-control" />
                <span asp-validation-for="ManufacturerPartNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaterialComposition" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaterialComposition" class="form-control" />
                <span asp-validation-for="MaterialComposition" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxAggrShipQuant" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxAggrShipQuant" class="form-control" />
                <span asp-validation-for="MaxAggrShipQuant" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MerchantShippingGroup" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MerchantShippingGroup" class="form-control" />
                <span asp-validation-for="MerchantShippingGroup" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModelNumber" class="form-control" />
                <span asp-validation-for="ModelNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NeckStyle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NeckStyle" class="form-control" />
                <span asp-validation-for="NeckStyle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfItems" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfItems" class="form-control" />
                <span asp-validation-for="NumberOfItems" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OccasionDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OccasionDescription" class="form-control" />
                <span asp-validation-for="OccasionDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OpacityTransparency" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OpacityTransparency" class="form-control" />
                <span asp-validation-for="OpacityTransparency" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OtherImgUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OtherImgUrl" class="form-control" />
                <span asp-validation-for="OtherImgUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OuterMaterialType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OuterMaterialType" class="form-control" />
                <span asp-validation-for="OuterMaterialType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageDimensionsUnitOfMeasure" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageDimensionsUnitOfMeasure" class="form-control" />
                <span asp-validation-for="PackageDimensionsUnitOfMeasure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageHeight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageHeight" class="form-control" />
                <span asp-validation-for="PackageHeight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageLength" class="form-control" />
                <span asp-validation-for="PackageLength" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageLengthUnitOfMeasure" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageLengthUnitOfMeasure" class="form-control" />
                <span asp-validation-for="PackageLengthUnitOfMeasure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageQuantity" class="form-control" />
                <span asp-validation-for="PackageQuantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageWeight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageWeight" class="form-control" />
                <span asp-validation-for="PackageWeight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageWeightUnitOfMeasure" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageWeightUnitOfMeasure" class="form-control" />
                <span asp-validation-for="PackageWeightUnitOfMeasure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageWidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageWidth" class="form-control" />
                <span asp-validation-for="PackageWidth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentSKU" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentSKU" class="form-control" />
                <span asp-validation-for="ParentSKU" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Parentage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Parentage" class="form-control" />
                <span asp-validation-for="Parentage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PatternDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PatternDescription" class="form-control" />
                <span asp-validation-for="PatternDescription" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ProductCareInstructions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductCareInstructions" class="form-control" />
                <span asp-validation-for="ProductCareInstructions" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RelatedProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RelatedProductID" class="form-control" />
                <span asp-validation-for="RelatedProductID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RelatedProductType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RelatedProductType" class="form-control" />
                <span asp-validation-for="RelatedProductType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RelationshipType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RelationshipType" class="form-control" />
                <span asp-validation-for="RelationshipType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleEndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SaleEndDate" class="form-control" />
                <span asp-validation-for="SaleEndDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleFromDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SaleFromDate" class="form-control" />
                <span asp-validation-for="SaleFromDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SearchTerms" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SearchTerms" class="form-control" />
                <span asp-validation-for="SearchTerms" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeasonAndCollectionYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SeasonAndCollectionYear" class="form-control" />
                <span asp-validation-for="SeasonAndCollectionYear" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ShippingWeight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShippingWeight" class="form-control" />
                <span asp-validation-for="ShippingWeight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SizeMap" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SizeMap" class="form-control" />
                <span asp-validation-for="SizeMap" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SleeveType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SleeveType" class="form-control" />
                <span asp-validation-for="SleeveType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SpecialFeatures" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SpecialFeatures" class="form-control" />
                <span asp-validation-for="SpecialFeatures" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StandardPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StandardPrice" class="form-control" />
                <span asp-validation-for="StandardPrice" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StyleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StyleName" class="form-control" />
                <span asp-validation-for="StyleName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SwatchImgUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SwatchImgUrl" class="form-control" />
                <span asp-validation-for="SwatchImgUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SwimwearBottomStyle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SwimwearBottomStyle" class="form-control" />
                <span asp-validation-for="SwimwearBottomStyle" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="UpdateDelete" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDelete" class="form-control" />
                <span asp-validation-for="UpdateDelete" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VariationTheme" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VariationTheme" class="form-control" />
                <span asp-validation-for="VariationTheme" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WeightUnitOfMeasure" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WeightUnitOfMeasure" class="form-control" />
                <span asp-validation-for="WeightUnitOfMeasure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
